@inherits UmbracoViewPage<MyAccountIndexViewModel>
@using BrambleBerry.Kitchen.Models.Account.MyAccountIndex
@{
    Layout = "../Base.cshtml";
    Model.SetPageTitle("My Account");
}

<style>
    .todo {
        text-decoration:line-through
    }
</style>
<div class="row account-index">
    <div class="col-xs-6">
        <h2><i class="fa fa-align-left"></i> Orders</h2>
        <ul>
            <li>@Html.ActionLink("My Orders", "Index", "MyOrders")</li>
            <li>@Html.ActionLink("My Open Orders", "Open", "MyOrders")</li>
            <li>@Html.ActionLink("My Cancelled Orders", "Cancelled", "MyOrders")</li>
        </ul>
    </div>
    <div class="col-xs-6">
        <h2><i class="fa fa-gear"></i> Settings</h2>
        <ul>
            <li>@Html.ActionLink("My Account Settings", "Index", "MySettings")</li>
         @* Pushed back:  <li>@Html.ActionLink("My Express Checkout Settings", "Express", "MyPaymentSettings", null, new { @class = "todo" })</li>*@
            <li>@Html.ActionLink("My Address Book", "Index", "MyAddressBook")</li>
         @* Pushed back: <li>@Html.ActionLink("My Payment Options", "Index", "MyPaymentSettings",null,new{@class="todo"})</li>*@
        </ul>
    </div>
    <div class="col-xs-6 reset-xs">
        <h2><i class="fa fa-cloud-download"></i> Digital Content</h2>
        <ul>
            <li>@Html.ActionLink("My Digital Content", "Index", "MyDigitalContent")</li>
            <li>@Html.ActionLink("My Digital Gifts Received", "MyGifts", "MyDigitalContent")</li>
        </ul>
    </div>
    <div class="col-xs-6">
        <h2><i class="fa fa-user"></i> Personalization</h2>
        <ul>
            <li>@Html.ActionLink("My Wishlists", "Index", "MyWishLists")</li>
            @*  Pushed back: 
                <li>@Html.ActionLink("My Product Reviews", "Index", "MyReviews", null, new { @class = "todo" })</li>
            <li>@Html.ActionLink("Write Purchase Reviews", "Create", "MyReviews", null, new { @class = "todo" })</li>
            <li>@Html.ActionLink("My Loyalty Rewards", "Index", "MyLoyaltyPoints", null, new { @class = "todo" })</li>*@
        </ul>
    </div>
</div>
