@inherits UmbracoViewPage<ContactFormModel>
@using BrambleBerry.Kitchen.Controllers
@using BrambleBerry.Kitchen.Models

@(Model.ViewMode == ContactFormModel.DisplayMode.ConfirmationMessage ? @RenderConfirmation() : @RenderForm())


@helper RenderForm()
{
    if (Model.ViewMode == ContactFormModel.DisplayMode.Error)
    {
        <div class="alert warning">

        </div>
    }

    using (Html.BeginUmbracoForm<ContactPageController>("SendMessage", null, new { @class = "contact-form row col-s-12 col-m-8 offset-m-2" }))
    {
        @Html.ValidationMessageFor(x => x.FromName)
        @Html.TextBoxFor(x => x.FromName, new { @placeholder = "Name", @class = "col-s-12" })

        @Html.ValidationMessageFor(x => x.FromEmail)
        @Html.TextBoxFor(x => x.FromEmail, new { @placeholder = "Email address", @class = "col-s-12" })

        @Html.TextBoxFor(x => x.Phone, new { @placeholder = "Phone number", @class = "col-s-12" })

        @Html.ValidationMessageFor(x => x.Message)
        @Html.TextAreaFor(x => x.Message, new { @placeholder = "Message", @class = "col-s-12" })

        @Html.HiddenFor(x => x.ContentId)
    
        <input type="submit" value="Send message" />
    }
}

@helper RenderConfirmation()
{
    @Model.ConfirmationMessage
}