@inherits Merchello.Web.Mvc.MerchelloViewPage<AddressModel>
@using Merchello.Core
@using Models
@using Merchello.Web
@using Controllers

	
Address
	
@using (Html.BeginUmbracoForm<CheckoutController>("SaveAddress", new { area = "MerchelloExample" }, new { @class = "form form-horizontal", role = "form" }))
{
	
	<h3>Enter your Address</h3>
	
    @Html.Label("Name")<br>
    
	@Html.TextBox("Name") <br><br>
	
	@Html.Label("Email")<br>
	@Html.TextBox("Email") <br><br>
	
	@Html.Label("Address1")<br>
	@Html.TextBox("Address") <br><br>
	
	@Html.Label("City")<br>
	@Html.TextBox("City")<br><br>
	
	@Html.Label("State")<br>
	@Html.TextBox("State")<br><br>
	
	@Html.Label("PostalCode")<br>
	@Html.TextBox("Postal or Zip Code")<br><br>		
    <input type="submit" value="Proceed to payment" />

}