@using BrambleBerry.Kitchen.Controllers.Account


@inherits UmbracoViewPage<BrambleBerry.Kitchen.Models.Workflow.AddressModel>
@{

    Layout = null;
}
<h1>Create this Address</h1>
<div>
    @if ( !String.IsNullOrEmpty( (string) TempData[ MyAddressBookController.AddressErrorMessageKey ] ) )
    {
        // Something much have gone wrong, ie can't find the address etc.
        // TODO: What do we do from here for the user?
        @TempData[ MyAddressBookController.AddressErrorMessageKey ]
    }
    else {
        using (Html.BeginUmbracoForm<MyAddressBookController>("Edit", FormMethod.Post))
        {
            <div class="row">
                <p>
                    Future mailing labels will appear exactly as you enter them below. This change will not affect orders currently being processed.
                </p>
                @Html.LabelFor(x => x.Alias)
                @Html.EditorFor(x => x.Alias)
                @Html.ValidationMessageFor(x => x.Alias)
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Fullname)
                @Html.EditorFor(x => x.Fullname)
                @Html.ValidationMessageFor(x => x.Fullname)
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Address1)
                @Html.EditorFor(x => x.Address1)
                @Html.ValidationMessageFor(x => x.Address1)
            </div>
            <div class="row">

                @Html.LabelFor(x => x.Address2)
                @Html.EditorFor(x => x.Address2)
            </div>
            <div class="row">
                <div class="col-s-6">
                    @Html.LabelFor(x => x.City)
                    @Html.EditorFor(x => x.City)
                    @Html.ValidationMessageFor(x => x.City)
                </div>
                <div class="col-s-6">
                    @Html.LabelFor(x => x.Region)
                    @Html.EditorFor(x => x.Region)
                    @Html.ValidationMessageFor(x => x.Region)
                </div>
            </div>
            <div class="row">
                <div class="col-s-6">
                    @Html.LabelFor(x => x.PostalCode)
                    @Html.EditorFor(x => x.PostalCode)
                    @Html.ValidationMessageFor(x => x.PostalCode)
                </div>
                <div class="col-s-6">
                    @Html.LabelFor(x => x.CountryCode)
                    @Html.DropDownList("CountryCode", Model.Countries, "Select...")
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(x => x.AddressUsageRole)
                @Html.DropDownList("AddressUsageRole", Model.AddressUsageRoles )
            </div>
            <div class="row">
                @Html.LabelFor(x => x.Phone)
                @Html.EditorFor(x => x.Phone)
            </div>
            <div class="row">
                <p>This may be printed on the label to assist in delivery</p>
                <input type="submit" value="Save" />
            </div>
        }
    }           
</div>
