@inherits UmbracoViewPage<AuthorizationForgotPasswordFormModel>
@using BrambleBerry.Kitchen.Controllers
@using BrambleBerry.Kitchen.Models.Authorization
@using BrambleBerry.Kitchen.FormLogic
@{
    if (!(ViewData.ContainsKey("disableLayout") && (bool)ViewData["disableLayout"] == true))
    {
        Layout = "Base.cshtml";
    }
   
}
@*@using (Html.BeginRouteForm(new { controller = "Authorization", action = "ForgottenPassword" }))*@

@using (Html.BeginRoutedUmbracoForm<AuthorizationController>("ForgottenPassword", null,new { @class = "slide-toggle forgot-password-slide" }))
{   @Html.ValidationSummary(true, "ValidationSummary")
    <h2>I Forgot My Password</h2>
    <div>
        <label>
            <span>@Html.DisplayNameFor(x => x.EmailAddress)</span>
            @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = @Html.DisplayNameFor(x => x.EmailAddress), @type = "email" })
            @Html.ValidationMessageFor(x => x.EmailAddress)
        </label>
        <div class="helpers">
            <a class="sign-in-link slide-link">I remember my password</a>
        </div>
        <button type="submit">Reset My Password</button>
    </div>

	@Html.Raw(TempData["CustomMessage_ForgotPassword"])

    @Html.AntiForgeryToken()
}