@inherits UmbracoViewPage<ViewModelBase>
@using BrambleBerry.Kitchen.Models.ViewModels
@using Cruncher.Web
@{
    Layout = null;
}

<!DOCTYPE HTML>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9 ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@Model.PageTitle</title>
        @if (!string.IsNullOrEmpty(Model.MetaDescription))
        {
        <meta name="description" content="@Model.MetaDescription" />}
        @if (!string.IsNullOrEmpty(Model.MetaKeywords))
        {
        <meta name="keywords" content="@Model.MetaKeywords" />}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @CruncherBundler.RenderCSS("gfonts", "styles.min.css")
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body class="@Model.BodyCss" id="top">

        <div id="container">
            <header role="banner">
                <div class="container">
                    <div id="google_translate_element"></div>
                    <h1><a href="@Model.Logo.Url">@Model.Logo.SiteName</a></h1>
                </div>
            </header>

            <section id="content" class="one-column container row">
                @RenderBody()
            </section>

        </div><!--/container-->

        <footer role="contentinfo" class="col-s-12">
            <section class="info">
                <p class="copyright">Copyright &copy; 1999-@DateTime.Now.Year Bramble Berry<sup>&reg;</sup> Inc. All Rights Reserved.</p>
                <cite class="mindfly">
                    Site by <a href="http://www.mindfly.com" target="_blank">Mindfly</a>, <a href="http://www.proworks.com" target="_blank">ProWorks</a>, &amp; <a href="https://offroadcode.com/">Offroadcode</a>. Powered by <a href="http://www.umbraco.com" target="_blank">Umbraco</a> and <a href="http://www.merchello.com">Merchello</a>.
                </cite>
            </section>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="/Scripts/angular.min.js"></script>
        @*@CruncherBundler.RenderJavaScript("jquery", "responsive.min.js", "angular.min.js")*@


        @RenderSection("AdditionalScripts", false)
    </body>
</html>
