@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Models;
@using Merchello.Web
@using Merchello.Web.Models.ContentEditing
@{
    Layout = null;
}

<!-- show customer name and basket item count -->
@Html.Action("DisplayCustomerBasket", "Basket", new { area = "MerchelloExample"})

<h1>@CurrentPage.Name</h1>

<table>
    @*    for this page, get all visible children in Umbraco content tree *@
    @foreach (IPublishedContent contentProduct in CurrentPage.Children.Where("Visible"))
    {
       
        // info from Umbraco
        var contentidForChildPage = contentProduct.Id;
        var productname = contentProduct.Name;

        // get content page's product description
        var productdescription = contentProduct.GetPropertyValue<string>("productdescription");

        // get content page's merchello product option
        var merchelloproductobject = contentProduct.GetPropertyValue<ProductDisplay>("merchelloproduct");

        // build model to hand to controller used in BuyButton.cshtml
        var productitemmodel = new AddItemModel()
        {
            ProductKey = merchelloproductobject.Key,
            ContentId = contentidForChildPage
        };

        <tr>
            <td>@contentProduct.Name</td>
            <td>@productdescription</td>
            <td>@merchelloproductobject.Price.ToString("C")</td>

            <td>@Html.Action("Display_BuyButton", "Basket", new { area = "MerchelloExample", product = productitemmodel })</td>

        </tr>
    }
</table>


