@inherits UmbracoViewPage<HomePageViewModel>
@using BrambleBerry.Kitchen.Models.ViewModels
@{
    Layout = "OneColumn.cshtml";
}

<section id="banner" class="col-s-12">
    <img src="@Model.Banner.Url" alt="@Model.Banner.Name" />
    <div class="intro col-s-6 col-m-8 offset-s-3 offset-m-2">
        <h1>@Model.TagLine</h1>
        <p>@Model.Brief</p>
        <a href="#product-list" class="arrow down">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>
</section>


<div class="brief col-s-6 offset-s-3 col-m-4 offset-m-4">
    @Model.BodyText
</div>

@Html.Partial("ListProducts", Model.FeaturedProducts)

