@using System.Web.Mvc

// Janae's preferred layout for Checkboxes
// Default id and displayText to name
@helper	RenderCheckBox( MvcHtmlString name ) {
    @RenderCheckBox( name.ToString() )
}

// Defaults id and displayText to name
@helper	RenderCheckBox( string name ) {
    @RenderCheckBox( name, name, name )
}

// Defaults id to be the name
@helper	RenderCheckBox( MvcHtmlString name, MvcHtmlString displayText ) {
    @RenderCheckBox( name, name, displayText )
}

@helper	RenderCheckBox( MvcHtmlString name, MvcHtmlString id, MvcHtmlString displayText ) {
    @RenderCheckBox( name.ToString(), id.ToString(), displayText.ToString() )
}

// The daddy, does the actual rendering
@helper	RenderCheckBox( string name, string id, string displayText ) {
    <label class="checkbox" for="@id">
        <input type="checkbox" id="@id" name="@name" />
        <span>@displayText</span>
    </label>
}