@using System.Web.UI.WebControls
@using BrambleBerry.Kitchen.Controllers
@using Umbraco.Core.Models.Membership

@inherits UmbracoViewPage<BrambleBerry.Kitchen.Models.Account.MyDigitalContent.MyDigitalContentViewModel>
@{
    Layout = "../Base.cshtml";
    Model.SetPageTitle("My Account / My Digital Content");

}
<div class="row">
    <table>
        <tr>
            <th>Name</th>
            <th>Order No</th>
            <th>Remaining</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var item in Model.DigitalContent)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OrderId</td>
                <td>@item.Remaining</td>
                <td>@item.PurchaseDate.ToString("MMMM dd yyyy")</td>
                <td>@(item.HasBeenDownloaded ? "Downloaded" : "Pending")</td>
                <td class="download"><a href="@Url.Action("Download", new { id = 1234})"><i class="fa fa-cloud-download"></i></a></td>
            </tr>
        }
    </table>
</div>
