@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core
@using Merchello.Web

@{
    Layout = null;

    // Get Mechello - this is NOT the only way to get access to Merchello
    // For a quick and simple example, this is the most straight forward
    var helper = new MerchelloHelper();

    // Merchello product guid tied to the Umbraco content page
    // set via the Merchello Product Selector
    var key = new Guid(CurrentPage.product);

    // Merchello product 
    var product = helper.Query.Product.GetByKey(key);
		
}

<!--
	Umbraco Content Page Id: @CurrentPage.id, 
    Merchello Product Guid: @key.ToString()
-->
<!-- exampletable class is only for center alignment -->
<table class="exampletable">
    <tr>
		<td>		
		    Item 
        </td>
        <td>
            Item Value
        </td>
        <td>
            Storage       
        </td>    
	</tr>
	<tr>
		<td>		
		    Product: 
        </td>
        <td>
            @product.Name
        </td>
        <td>
            Merchello Product Catalog 
        </td>    
	</tr>
	<tr>
		<td>		
		    Price: 
        </td>
        <td>
            @product.Price.ToString("C")
        </td>
        <td>
            Merchello Product Catalog 
        </td>    
	</tr>
	<tr>
		<td>		
		    Sale Price: 
        </td>
        <td>
            @product.SalePrice.ToString("C")
        </td>
        <td>
            Merchello Product Catalog 
        </td>    
	</tr>
    <tr>
		<td>		
		    Description: 
        </td>
        <td>
            @Model.Content.GetPropertyValue("productdescription")
        </td>
        <td>
            Umbraco Content Page
        </td>
    </tr>
    <tr>
		<td>		
		    Manufacturer: 
        </td>
        <td>
            @product.Manufacturer
        </td>
        <td>
            Merchello Product Catalog
        </td>
    </tr>
    <tr>
		<td>		
		    Manufacturer Model Number: 
        </td>
        <td>
            @product.ManufacturerModelNumber
        </td>
        <td>
            Merchello Product Catalog
        </td>
    </tr>
    <tr>
		<td>		
		    Is Taxable: 
        </td>
        <td>
            @product.Taxable
        </td>
        <td>
            Merchello Product Catalog
        </td>
    </tr>
    <tr>
		<td>		
		    In Stock: 
        </td>
        <td>
            @product.Available
        </td>
        <td>
            Merchello Product Catalog
        </td>
    </tr>
</table>