@using BrambleBerry.Kitchen
@using BrambleBerry.Kitchen.Controllers
@using BrambleBerry.Kitchen.Controllers.Account
@using Umbraco.Core.Models.Membership


@inherits UmbracoViewPage<BrambleBerry.Kitchen.Models.Account.MySettings.MyAccountSettingsViewModel>
@{
    Layout = "/Views/Account/Base.cshtml";
    Model.SetPageTitle("My Settings");
}

@using (Html.BeginUmbracoForm<MySettingsController>("Index", FormMethod.Post, new { @class = "settings-form row" }))
{

    <div class="col-s-6">
        <h2>Account Holder Name</h2>
        <label>
            <span>First Name</span>
            @Html.TextBoxFor(x => x.Firstname, new { placeholder = "First Name" })
            @Html.ValidationMessageFor(x => x.Firstname)
        </label>
        <label>
            <span>Last Name</span>
            @Html.TextBoxFor(x => x.Lastname, new { placeholder = "Last Name" })
            @Html.ValidationMessageFor(x => x.Lastname)
        </label>
    </div>

    <div class="col-s-6">
        <h2>Change Password</h2>
        <label>
            <span>@Html.DisplayNameFor(x => x.Password)</span>
            @Html.PasswordFor(x => x.Password, new { placeholder = "Enter new password" })
            @Html.ValidationMessageFor(x => x.Password)
        </label>
        <label>
            <span>@Html.DisplayNameFor(x => x.ConfirmPassword)</span>
            @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm new password" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </label>
        <p class="help">We suggest you choose a unique passwod that's at least 6 characters, including a number or special character. This makes your account more secure!</p>
    </div>

    <div class="col-s-6 reset-s">
        <h2>Email Address</h2>
        <label>
            @Html.DisplayNameFor(x => x.EmailAddress)
            @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = Html.DisplayNameFor(x => x.EmailAddress), @type = "email" })
            @Html.ValidationMessageFor(x => x.EmailAddress)
        </label>
    </div>

    <div class="col-s-6">
        @* BRAM-TODO Allow the user to update communication preferences? This would require using the Streamsend API *@
    </div>

    <div class="col-xs-12 reset-xs">
        @Html.AntiForgeryToken()
        <input type="submit" value="Save" />
    </div>
}
