@inherits UmbracoViewPage<ProductViewModel>
@using BrambleBerry.Kitchen.Models.ViewModels
@using Buzz.Hybrid
@{
    Layout = "OneColumn.cshtml";
}

@if (Model.HasImage)
{
    <section class="col-s-7">
        <img src="@Model.Thumbnail.GetCropUrl(width: 700)" alt="@Model.Thumbnail.Name" />
    </section>
}

<section id="primary" class="col-s-5">
    <h2 class="price">@Model.Price.ToString("C")</h2>
    <h1>@Model.Name</h1>
    @Html.Partial("AddItemForm", Model.AddItemFormModel)
    @Model.Description

</section>